/* Write your CSS here */

.main-container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-container {
}

.heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 68px;
  font-weight: 500;
}

.description {
  color: #334155;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
}

.increment-button {
  color: #1e293b;
  font-family: 'Roboto';
  background-color: #ffffff;
  border: 2px solid #0f172a;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
}

.note {
  color: #334155;
  font-family: 'Roboto';
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 38px;
  }

  .description {
    font-size: 16px;
  }

  .increment-button {
    padding: 7px 20px 7px 20px;
  }

  .note {
    font-size: 10px;
  }
}
